<!-- khalti_payment integration -->
<form method="POST" action="{% url 'khalti_initiate' %}">
  {% csrf_token %}
  <label>Name:</label><br />
  <input type="text" name="name" value="Omkar Poudel" required /><br />

  <label>Email:</label><br />
  <input type="email" name="email" value="omkar@example.com" required /><br />

  <label>Phone:</label><br />
  <input type="text" name="phone" value="9800000000" required /><br />

  <label>Amount (in NPR):</label><br />
  <input type="number" name="amount" value="10" required /><br /><br />

  <button type="submit">Pay with Khalti</button>
</form>
